html, body{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

font-family: 'Cinzel', serif, 'Tangerine', cursive;
background-color:#ffffff;
margin:0;
padding:0;
/*height:100%;
max-width:100%;*/
}
#header1{
background-color: #333;
height:48px;
margin:0px;
}
#header1 h2{
font-size: 18px;
color: #ffffff;
margin:0px;
text-align:center;
line-height:48px;
}
#header2{
background-color: #17468e;
height:4em;
max-height:4em;
vertical-align:middle;
width:100%;
}
#escudo{
  width: 100%;
  max-width: 30%;
  padding-left:5%;
  height:3.5em;
  vertical-align:middle;
  }
#img-edu{
margin:0px;
}

section{
margin:0px;
width: 100%;
position:relative;
}

#links{
background-color:#17468e;
font-size:12px;
width:auto;
height:auto;
padding:1%;
}
#links h2{
font-size:18px;
color:rgb(255, 255, 255);
padding-left:2%;
padding-top:1%;
margin:0px;
}
#icon{
width: 100%;
max-width: 30%;
justify-content: center;
height:auto;
padding-bottom:1%;
}

.avatar {
border-radius:50%;   
max-width:100px;
}

.row {
/*height:100%;*/
text-align:center;
}

.column {
float:left;
width: 33.33%;
padding-top: 2%;
padding-bottom:2%;  
font-size:15px;
}
.nqn {
    margin: 0px;
    padding: 0px;
  }

@media screen and (max-width: 750px) {
  #header1 {
    line-height:48px; 
  }
}
@media screen and (max-width: 750px) {
  #header1 h2 {
    text-align:center;
    font-size: 18px;
  }
}
@media screen and (max-width: 750px) {
  #header2 {
    /*height:3.5em;
    max-height:3.5em;*/
    vertical-align:middle;
    width:100%;
  }
}
@media screen and (max-width: 750px) {
  #escudo {
   vertical-align:middle;
   max-width: 80%;
   padding-left:10%;
  }
}
@media screen and (max-width: 750px) {
  #links {
    font-size: 9px;
  }
}
@media screen and (max-width: 750px) {
  #icon {
   margin:0px;
   max-width:90%;
  /* display:block;
   padding-top: 2px;*/
  }
}

@media screen and (max-width: 750px) {
    .column{ 
     font-size: 11px;
    }
}
@media screen and (max-width: 750px) {
    .avatar{
     width:40px;
    }
}

@media screen and (max-width: 750px) {
    #foot{   
    margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    .btn.active{
     width:100%;
    }
}


@media screen and (max-width: 750px) {
    .btn{
     width:49.5%;
    }
}

@media screen and (max-width: 750px) {
    .container{
     width:100%;
    }
}

#foot {
  height: 60px;
  line-height: 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #17468e;
  color: white;
  font-size: 18px;
  text-align: center;
}

/* filtered elements */

.container {
    overflow: hidden;
    padding-top:2%;
    padding-bottom:2%;
}

.filterDiv {
    float: left;
    background-color:#07CFA6;
    color: #000000;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin:1px;
    font-size: 15px;
    display: none; /* Hidden by default */
    text-decoration: none;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding:12px 16px; 
  background-color: #07CFA6;
  cursor: pointer;
  margin-top:2%;
  color:black;
  font-size: 15px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #a5a1a0;
}

/* Add a dark background to the active button */
.btn.active {
  background-color:#07CFA6;
  color: rgb(0, 0, 0);
}

